<!DOCTYPE html>
<html lang="en" data-theme='light-mode'>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/styles.css') }}">
</head>
<body class="body">
<header>
    <!-- get the navigation bar from the navigation-bar.html file -->
    {% include 'global-templates/navigation-bar.html' %}
</header>
<div>
    <div class="container">
        <br>
        <h1 class="hero-title">Free Time</h1>
        <br>
        <h3 class="hero-subtitle">Software Development / Process Automation</h3>
        <br>
    </div>
</div>

<div class="section"></div>
<div class="container">
    <img src='{{ url_for("static", filename="image_assets/Time-Management-App.png") }}'
         alt="Project Sports Dashboard"
         style="width:100%;">
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Technology Used: ⚡ Python | ⚡ Google Cloud Deploy | ⚡ Process Automation</h2>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">The Problem:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        As a freelancer, more often than not, you have to proof your exact working hours to your clients. This
        is frequently done using various Excel sheets and templates. This can be a very time-consuming and tedious and
        hence I set out to create a tool that makes it easier to track time as well as creating invoices for clients.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">The Solution:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The goal was to create a tool that makes it easy to track time and create invoices for clients, thereby reducing
        the time freelancers have to spend on administrative tasks. The tool is a web application that is hosted on
        Google Cloud and can be accessed from anywhere. The tool is fully responsive and can be used devices with any
        screen size.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Key Features:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The application allows the user to enter the working hours for each day and then automatically calculates the
        invoice amounts based on the users settings. Afterward, the user can specify the invoice duration and number
        and export the invoice as a PDF file. The application also allows the user to export the data as a CSV file.
    </p>
    <br>
    <ul class="project-list">
        <li>Data entry terminal</li>
        <li>Storing of data in SQL database</li>
        <li>Export of invoices</li>
    </ul>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Summary:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The application is a great tool for freelancers to track their working hours and create invoices for clients.
        The application is fully responsive and can be used on any device. The application is hosted on Google Cloud
        and can be accessed from anywhere. The application is fully dynamic and automatically updates with every new
        file upload. Furthermore, the user can choose between different types of analysis or analyze all data at once.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <div class="pre-footer">
        <h5>Have I sparked your interest?</h5>
        <a aria-label="contact button" id="contact button 2" href="/contact" style="margin: 0% 5%;"
           class="button"><span>Get in Contact!</span></a>
    </div>
</div>

<div class="section"></div>
<div class="container">
    <!-- reference footer.html -->
    {% include 'global-templates/footer.html' %}
</div>

</body>
</html>
