<!DOCTYPE html>
<html lang="en" data-theme='light-mode'>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/styles.css') }}">
</head>
<body class="body">
<header>
    <!-- get the navigation bar from the navigation-bar.html file -->
    {% include 'global-templates/navigation-bar.html' %}
</header>
<div>
    <div class="container">
        <br>
        <h1 class="hero-title">Duolingo Analysis Tool</h1>
        <br>
        <h3 class="hero-subtitle">Data Analysis / Data Visualization</h3>
        <br>
    </div>
</div>

<div class="section"></div>
<div class="container">
    <img src='{{ url_for("static", filename="image_assets/duolingo_analysis_small.png") }}'
         alt="Project Sports Dashboard"
         style="width:100%;">
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Technology Used: ⚡ Python | ⚡ Google Cloud Deploy | ⚡ Data Analysis</h2>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">The Problem:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        Duolingo is a language-learning platform that includes a language-learning website and app, as well as a digital
        language proficiency assessment exam. Duolingo offers all its language courses free of charge. As of November
        2019, the language-learning website and app offer 90 different language courses in 22 languages. The app has
        over 300 million registered users across the world. I have been using Duolingo for over 5 years now and have
        completed over 1000 lessons. However, I was always curious about my learning progress and wanted to analyze my
        learning behavior. Unfortunately, Duolingo does not offer any data analysis tools for its users. Hence, I set
        out to create my own data analysis tool for Duolingo.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">The Solution:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The goal was to create a tool that makes it easy to analyze your Duolingo learning behavior. The tool is a web
        application that is hosted on Google Cloud and can be accessed from anywhere. The tool is fully responsive and
        can be used devices with any screen size. The tool is fully dynamic and automatically updates with every new
        file upload. Furthermore, the user can choose between different types of analysis or analyze all data at once.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Key Features:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The dashboard has a file upload feature. With that every user can upload their own Duolingo data and get a
        personalized dashboard of their own. The dashboard is fully dynamic and automatically updates with every new
        file upload. Furthermore, the user can choose between different types of analysis or analyze all data at once.
    </p>
    <br>
    <ul class="project-list">
        <li>File upload interface</li>
        <li>Data analysis on your data</li>
        <li>Dynamic dashboard</li>
        <li>Visualization of personalized data</li>
    </ul>
</div>

<div class="section"></div>
<div class="container">
    <h2 class="project-text-header">Summary:</h2>
    <hr class="project-hr">
</div>
<div class="container">
    <p class="project-text">
        The application is a great tool for Duolingo users to analyze their learning behavior. The application is fully
        responsive and can be used on any device. The application is hosted on Google Cloud and can be accessed from
        anywhere. The application is fully dynamic and automatically updates with every new file upload. Furthermore,
        the user can choose between different types of analysis or analyze all data at once.
    </p>
</div>

<div class="section"></div>
<div class="container">
    <div class="pre-footer">
        <h5>Have I sparked your interest?</h5>
        <a aria-label="contact button" id="contact button 2" href="/contact" style="margin: 0% 5%;"
           class="button"><span>Get in Contact!</span></a>
    </div>
</div>

<div class="section"></div>
<div class="container">
    <!-- reference footer.html -->
    {% include 'global-templates/footer.html' %}
</div>

</body>
</html>
