<!-- Path: templates/footer.html -->
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/footer.css') }}">
</head>
<footer class="footer">
    <div class="contact">
        <div class="footer-inner">
            <h3 style="text-align: left;">Contact</h3>
            <p>Kleinstrasse 9</p>
            <p>Luzern, 6012</p>
            <p>Switzerland</p>
            <br>
            <hr style="width: 20%; margin-left:0;">
            <br>
            <p>Email: niklas.clasen@gmail.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>
</footer>
<footer class="copyright-footer">
    <div class="copyright">
        <p style="text-align: center;">&copy; 2023 Clasen Data Science. All rights reserved.</p>
    </div>
</footer>
