<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/navigation-bar.css') }}">
</head>
<header class="header container">
    <!-- Logo -->
    <img src="{{ url_for('static', filename='/image_assets/logo.png') }}" alt="Logo" class="header__logo">

    <nav>
        <ul class="header__menu">
            <li id="home" class="">
                <a class="header__link" href="/">Home</a>
            </li>
            <li id="projects" class="">
                <a class="header__link" href="/projects">Projects</a>
            </li>
            <li id="services" class="">
                <a class="header__link" href="/services">Services</a>
            </li>
            <li class="header__line"></li>
            <li class="toggle-switch">
                <img src="{{ url_for('static', filename='/image_assets/contrast.png') }}" alt="Logo"
                     class="color-mode">
                <input type="checkbox" id="theme-toggle" class="toggle"/>
                <label for="theme-toggle"></label>
                <img src="{{ url_for('static', filename='/image_assets/crescent-moon.png') }}" alt="Logo"
                     class="color-mode">
            </li>
            <li class="header__line"></li>
            <li class="language-switcher">
                <select id="language-select" onchange="loadJSON(value)">
                    <option value="en">en</option>
                    <option value="de">de</option>
                </select>
            </li>
            <li class="header__line"></li>
            <li class="active">
                <a class="header__contact button" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<!-- Mobile Navigation -->
<div class="dropdown">
    <a class="mobile-menu" style="color: var(--primary-color);">Menu</a>
    <div class="dropdown-content span">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</div>
<!-- End of Mobile Navigation -->
<script src="{{ url_for('static', filename='js_components/lang-changer.js') }}"></script>
<script src="{{ url_for('static', filename='js_components/theme-toggler.js') }}"></script>