<!DOCTYPE html>
<html lang="en" data-theme='light-mode'>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/styles.css') }}">
</head>
<body class="body">
<header>
    <!-- get the navigation bar from the navigation-bar.html file -->
    {% include 'global-templates/navigation-bar.html' %}
</header>
<div>
    <div class="container">
        <div class="modular-container-wrapper">
            <div class="modular-container" style="width: 80%; height: 600px">
                <br>
                <h1 class="hero-title" id="hero-title">Hello World,<br>I'm <strong>NIK</strong></h1>
                <br>
                <br>
                <h3 class="hero-subtitle">Data Scientist / Machine Learning Engineer</h3>
                <br>
                <br>
                <h5 class="hero-text">
                    Unlock the potential of your business with <strong>personalized data solutions</strong>. I'm
                    dedicated to turning complex challenges into <strong>strategic opportunities</strong>. Whether it's
                    data exploration, analysis, or implementing <strong>cutting-edge algorithms</strong>, let's embark
                    on a journey of innovation together.
                </h5>
                <div class="blob"></div>
                <br>
                <br>
                <a aria-label="contact button" id="contact button" href="/contact"
                   class="button"><span>Get in Contact!</span></a>
            </div>
            <div class="modular-container" style="width: 60%; background-color: var(--background-color); height: 600px">

                <img src='{{ url_for("static", filename="image_assets/profile-without-bg.png") }}'
                     alt="Your Image"
                     style="width:120rem; float: right;">
            </div>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="container">
    <h2 class="section-header">My Expertise</h2>
    <br>
    <hr>
</div>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h2>Data Analysis</h2>
            <hr class="card-hr">
            <p>Expert in data analysis with a strong ability to extract valuable insights from raw data. Proficient in
                data cleansing, exploratory data analysis, and statistical analysis to drive informed
                decision-making.</p>
        </div>
        <div class="card">
            <h2>Machine Learning Models</h2>
            <hr class="card-hr">
            <p>Specialized in developing and implementing machine learning models for various applications. Skilled in
                creating predictive models, classification, regression, and deep learning solutions to solve complex
                problems.</p>
        </div>
        <div class="card">
            <h2>Process Automation</h2>
            <hr class="card-hr">
            <p>Experienced in process automation, streamlining workflows, and optimizing business processes. Utilize
                automation tools and techniques to improve efficiency and reduce manual efforts.</p>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <h2>Data Visualization and Dashboards</h2>
            <hr class="card-hr">
            <p>Proficient in data visualization and dashboard creation. Create interactive visualizations and dashboards
                to communicate complex data in a clear and comprehensible manner, aiding in data-driven
                decision-making.</p>
        </div>
        <div class="card">
            <h2>Data Infrastructure</h2>
            <hr class="card-hr">
            <p>Skilled in designing and managing data infrastructure. Set up data pipelines, databases, and data storage
                solutions to ensure efficient data handling and accessibility.</p>
        </div>
        <div class="card">
            <h2>Data Strategy</h2>
            <hr class="card-hr">
            <p>Expertise in developing data strategies to align with business goals. Define data governance, data
                management, and data-driven strategies to harness the power of data for organizational success.</p>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="container">
    <h2 class="section-header">Technologies</h2>
    <br>
    <hr>
</div>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h2>⚡ Python</h2>
            <hr class="card-hr-dark">
            <p>Proficiency in Python, a versatile and widely-used programming language. Expertise in Python for data
                analysis, machine learning, and automation.</p>
        </div>
        <div class="card">
            <h2>⚡ Keras / Tensorflow</h2>
            <hr class="card-hr-dark">
            <p>Specialization in Keras and TensorFlow, leading deep learning frameworks. Skilled in building and
                training neural networks for various applications.</p>
        </div>
        <div class="card">
            <h2>⚡ Docker</h2>
            <hr class="card-hr-dark">
            <p>Experience with Docker, a platform for containerizing applications. Proficiency in creating and managing
                containers for efficient deployment.</p>
            <div class="blobtwo" style="z-index:99;"></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>⚡ SQL</h2>
            <hr class="card-hr-dark">
            <p>Strong command of SQL (Structured Query Language) for managing and querying relational databases.
                Capability to extract valuable insights from data.</p>
        </div>
        <div class="card">
            <h2>⚡ GIT</h2>
            <hr class="card-hr-dark">
            <p>Skilled in GIT, a distributed version control system. Experience in collaborative software development
                and
                code version management.</p>
        </div>
        <div class="card">
            <h2>⚡ HTML / CSS</h2>
            <hr class="card-hr-dark">
            <p>Familiarity with HTML and CSS for web development. Capability to create and style web pages to enhance
                user
                experiences.</p>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>⚡ Cloud Computing</h2>
            <hr class="card-hr-dark">
            <p>Proven expertise in cloud computing platforms such as AWS, Azure, and Google Cloud. Proficiency in
                deploying
                applications and services in the cloud.</p>
        </div>
        <div class="card">
            <h2>⚡ Tableau / Power BI</h2>
            <hr class="card-hr-dark">
            <p>Skilled in data visualization tools like Tableau and Power BI. Expertise in creating interactive and
                insightful data dashboards.</p>
        </div>
        <div class="card">
            <h2>⚡ R</h2>
            <hr class="card-hr-dark">
            <p>Proficient in R, a programming language for statistical analysis and data visualization. Capability to
                perform advanced analytics.</p>
        </div>
    </div>

</div>
<div class="section"></div>
<div class="container">
    <div class="faq">
        <h2 class="section-header">Frequently Asked Questions</h2>
        <br>
        <hr>
        <br>
        <div class="accordion">
            <div class="question">
                <h3>How can I hire your data science services?</h3>
                <div class="answer">
                    <p>To hire my data science services, simply visit the "Contact" page on my website and fill out the
                        contact form. I'll get back to you as soon as possible to discuss your project requirements.</p>
                </div>
            </div>
            <div class="question">
                <h3>What industries do you specialize in?</h3>
                <div class="answer">
                    <p>I have experience in a wide range of industries, including finance, healthcare, e-commerce, and
                        more. My data science expertise is adaptable to various sectors.</p>
                </div>
            </div>
            <div class="question">
                <h3>What data analysis tools and languages do you use?</h3>
                <div class="answer">
                    <p>I primarily use Python for data analysis and machine learning. I'm proficient in libraries such
                        as Pandas, NumPy, Scikit-Learn, and more. Additionally, I use visualization tools like
                        Matplotlib and Seaborn.</p>
                </div>
            </div>
            <div class="question">
                <h3>Can you provide examples of past projects?</h3>
                <div class="answer">
                    <p>Yes, I can provide case studies and examples of previous projects in the "Portfolio" section of
                        my website. These examples showcase the range of work I've done.</p>
                </div>
            </div>
            <div class="question">
                <h3>What is the typical process for a data science project engagement?</h3>
                <div class="answer">
                    <p>The typical process involves project scoping, data collection, data cleaning, exploratory data
                        analysis, model development, testing, and deployment. The exact steps may vary based on your
                        project's requirements.</p>
                </div>
            </div>
            <div class="question">
                <h3>Do you offer ongoing support for deployed models?</h3>
                <div class="answer">
                    <p>Yes, I offer post-deployment support and maintenance to ensure the continued performance and
                        accuracy
                        of machine learning models. We can discuss a service-level agreement that suits your needs.</p>
                </div>
            </div>
            <div class="question">
                <h3>What is the average turnaround time for a data science project?</h3>
                <div class="answer">
                    <p>The project timeline depends on its complexity and scope. Small projects can be completed in a
                        few
                        weeks, while more extensive projects may take several months. I provide estimated timelines
                        during
                        our initial consultation.</p>
                </div>
            </div>
            <div class="question">
                <h3>What sets you apart as a freelance data scientist?</h3>
                <div class="answer">
                    <p>I combine technical expertise with a strong focus on understanding your business goals. This
                        allows
                        me to tailor data solutions that align with your specific needs and deliver actionable
                        insights.</p>
                </div>
            </div>
            <div class="question">
                <h3>How do you ensure data privacy and security?</h3>
                <div class="answer">
                    <p>Data privacy and security are paramount. I implement best practices to protect your data and
                        ensure
                        compliance with privacy regulations, such as GDPR. I can provide a detailed data protection plan
                        for
                        your project.</p>
                </div>
            </div>
            <div class="question">
                <h3>What is your pricing structure for data science services?</h3>
                <div class="answer">
                    <p>My pricing structure is flexible and based on project complexity and duration. I offer
                        competitive
                        rates and provide detailed quotes after discussing your project requirements.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blobthree" style="z-index:0; margin: -14rem 4.5rem"></div>
</div>

<div class="section"></div>

<div class="container">
    <div class="pre-footer">
        <h5>Have I sparked your interest?</h5>
        <a aria-label="contact button" id="contact button 2" href="/contact" style="margin: 0% 5%;"
           class="button"><span>Get in Contact!</span></a>
    </div>
</div>


<div class="section"></div>
<div class="container">
    <!-- reference footer.html -->
    {% include 'global-templates/footer.html' %}
</div>
<!--<script>
    // Function to load and display JSON data
    function loadJSON() {
        // Use AJAX to fetch the JSON file
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Parse the JSON data
                var jsonData = JSON.parse(xhr.responseText);
                var dynamicContentElement = document.getElementById('hi');
                // Replace 'property_name' with the actual property name in your JSON
                dynamicContentElement.innerText = jsonData.hi;
                // Display the JSON data (you can modify this part based on your JSON structure)
                console.log(jsonData);
            }
        };

        // Replace 'your_json_file.json' with the actual filename
        xhr.open("GET", "/static/file.json", true);
        xhr.send();
    }

    // Call the function when the page is loaded
    loadJSON();
</script>-->
</body>
</html>
