<!DOCTYPE html>
<html lang="en" data-theme='dark-mode'>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/styles.css') }}">
</head>
<body class="body">
<header>
    {% include 'global-templates/navigation-bar.html' %}
</header>
<div>
    <div class="container">
        <div class="modular-container-wrapper">
            <div class="modular-container" style="width: 80%; height: 600px">
                <br>
                <h1 class="hero-title" id="hero-title">Hello World,<br>I'm <strong>NIK</strong></h1>
                <br>
                <br>
                <h3 class="hero-subtitle" id="hero-subtitle">Data Scientist / Machine Learning Engineer</h3>
                <br>
                <br>
                <h5 class="hero-text" id="hero-text">
                    Unlock the potential of your business with <strong>personalized data solutions</strong>. I'm
                    dedicated to turning complex challenges into <strong>strategic opportunities</strong>. Whether it's
                    data exploration, analysis, or implementing <strong>cutting-edge algorithms</strong>, let's embark
                    on a journey of innovation together.
                </h5>
                <div class="blob"></div>
                <br>
                <br>
                <a aria-label="contact button" id="contact button" href="/contact"
                   class="button"><span>Get in Contact!</span></a>
            </div>
            <div class="modular-container" style="width: 60%; height: 600px">

                <img src='{{ url_for("static", filename="image_assets/profile-without-bg.png") }}'
                     alt="Your Image"
                     style="width:120rem; float: right;">
            </div>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="container">
    <h2 class="section-header" id="expertise-header">My Expertise</h2>
    <br>
    <hr>
</div>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h2 id="card-expertise-1-header">Data Analysis</h2>
            <hr class="card-hr">
            <p id="card-expertise-1-text">Expert in data analysis with a strong ability to extract valuable insights from raw data. Proficient in
                data cleansing, exploratory data analysis, and statistical analysis to drive informed
                decision-making.</p>
        </div>
        <div class="card">
            <h2 id="card-expertise-2-header">Machine Learning Models</h2>
            <hr class="card-hr">
            <p id="card-expertise-2-text">Specialized in developing and implementing machine learning models for various applications. Skilled in
                creating predictive models, classification, regression, and deep learning solutions to solve complex
                problems.</p>
        </div>
        <div class="card">
            <h2 id="card-expertise-3-header">Process Automation</h2>
            <hr class="card-hr">
            <p id="card-expertise-3-text">Experienced in process automation, streamlining workflows, and optimizing business processes. Utilize
                automation tools and techniques to improve efficiency and reduce manual efforts.</p>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <h2 id="card-expertise-4-header">Data Visualization and Dashboards</h2>
            <hr class="card-hr">
            <p id="card-expertise-4-text">Proficient in data visualization and dashboard creation. Create interactive visualizations and dashboards
                to communicate complex data in a clear and comprehensible manner, aiding in data-driven
                decision-making.</p>
        </div>
        <div class="card">
            <h2 id="card-expertise-5-header">Data Infrastructure</h2>
            <hr class="card-hr">
            <p id="card-expertise-5-text">Skilled in designing and managing data infrastructure. Set up data pipelines, databases, and data storage
                solutions to ensure efficient data handling and accessibility.</p>
        </div>
        <div class="card">
            <h2 id="card-expertise-6-header">Data Strategy</h2>
            <hr class="card-hr">
            <p id="card-expertise-6-text">Expertise in developing data strategies to align with business goals. Define data governance, data
                management, and data-driven strategies to harness the power of data for organizational success.</p>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="container">
    <h2 class="section-header" id="technology-header">Technologies</h2>
    <br>
    <hr>
</div>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h2>⚡ Python</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-1-text">Proficiency in Python, a versatile and widely-used programming language. Expertise in Python for data
                analysis, machine learning, and automation.</p>
        </div>
        <div class="card">
            <h2>⚡ Keras / Tensorflow</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-2-text">Specialization in Keras and TensorFlow, leading deep learning frameworks. Skilled in building and
                training neural networks for various applications.</p>
        </div>
        <div class="card">
            <h2>⚡ Docker</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-3-text">Experience with Docker, a platform for containerizing applications. Proficiency in creating and managing
                containers for efficient deployment.</p>
            <div class="blobtwo" style="z-index:99;"></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <h2>⚡ SQL</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-4-text">Strong command of SQL (Structured Query Language) for managing and querying relational databases.
                Capability to extract valuable insights from data.</p>
        </div>
        <div class="card">
            <h2>⚡ GIT</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-5-text">Skilled in GIT, a distributed version control system. Experience in collaborative software development
                and
                code version management.</p>
        </div>
        <div class="card">
            <h2>⚡ HTML / CSS</h2>
            <hr class="card-hr-dark">
            <p id="card-technology-6-text">Familiarity with HTML and CSS for web development. Capability to create and style web pages to enhance
                user
                experiences.</p>
        </div>
    </div>
</div>
<div class="section"></div>
<div class="container">
    <div class="blobthree" style="z-index:0; margin: -14rem 4.5rem"></div>
</div>

<div class="section"></div>

<div class="container">
    {% include 'global-templates/pre-footer.html' %}
</div>

<div class="section"></div>
<div class="container">
    <!-- reference footer.html -->
    {% include 'global-templates/footer.html' %}
</div>
</body>
</html>
