<!DOCTYPE html>
<html lang="en" data-theme='light-mode'>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_components/styles.css') }}">
</head>
<body class="body">
<header>
    <!-- get the navigation bar from the navigation-bar.html file -->
    {% include 'global-templates/navigation-bar.html' %}
</header>
<div>
    <div class="container">
        <div class="modular-container-wrapper">
            <div class="modular-container" style="height: 400px">
                <br>
                <h1 class="hero-title" id="services-hero-title">Offered Services</h1>
                <br>
                <br>
                <h3 class="hero-subtitle" id="services-hero-subtitle">Empowering Your Success Through Data Science Excellence!</h3>
                <br>
                <br>
                <h5 class="hero-text" id="services-hero-text">
                    Explore the possibilities and discover how my expertise can elevate your projects. Ready to
                    collaborate? Let's chat!
                </h5>

                <div class="blob"></div>
                <br>
                <br>
                <a aria-label="contact button" id="services-contact-button" href="/contact"
                   class="button"><span>Get in Contact!</span></a>
            </div>
        </div>
    </div>
</div>

<div class="section"></div>
<div class="container">
    <div class="modular-container-wrapper">
        <div class="modular-container-buffer" style="width: 7%;"></div>

        <div class="modular-container-services-one">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-1">Data Analysis on your Dataset</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-1">Starting at CHF 500</h2>
                <br>
                <p class="service-card-text" id="service-card-text-1">Uncover insights and patterns within your dataset through meticulous data
                    analysis. Leverage the power of data to make informed decisions and drive your business forward.
                </p>
                <br>
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-1-1">Tailored analysis
                    </li>
                    <li class="service-list-item" id="service-card-list-1-2">In-depth statistical assessments
                    </li>
                    <li class="service-list-item" id="service-card-list-1-3">Visual Data Representation
                    </li>
                    <li class="service-list-item" id="service-card-list-1-4">Actionable Recommendations
                    </li>
                    <li class="service-list-item" id="service-card-list-1-5">Continuous Support
                    </li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>
        </div>

        <div class="modular-container-services-two">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-2">Custom Data Science Dashboard</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-2">Starting at CHF 2,000</h2>
                <br>
                <p class="service-card-text" id="service-card-text-2">Transform your data into interactive dashboards, providing a comprehensive
                    view of key metrics. Empower your team with real-time data visualization for strategic
                    decision-making.
                </p>
                <br>
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-2-1">Customized dashboards reflecting your unique business metrics.</li>
                    <li class="service-list-item" id="service-card-list-2-2">Stay informed with automatic, real-time updates for dynamic
                        insights.
                    </li>
                    <li class="service-list-item" id="service-card-list-2-3">Intuitive interface for easy navigation and understanding.</li>
                    <li class="service-list-item" id="service-card-list-2-4">Implement robust security measures to protect your sensitive
                        information.
                    </li>
                    <li class="service-list-item" id="service-card-list-2-5">Comprehensive training and ongoing support for efficient usage.</li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>

        </div>
        <div class="modular-container-buffer" style="width: 7%;"></div>
    </div>
</div>

<div class="container">
    <div class="modular-container-wrapper">
        <div class="modular-container-buffer" style="width: 7%;"></div>

        <div class="modular-container-services-two">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-3">Custom Machine Learning Model</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-3">Individual Pricing</h2>
                <br>
                <p class="service-card-text" id="service-card-text-3">Harness the power of custom machine learning models tailored to your
                    specific
                    needs. From predictive analytics to recommendation engines, transform your data into actionable
                    insights.
                </p>
                <br>
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-3-1">Tailored ML algorithms for accurate predictions</li>
                    <li class="service-list-item" id="service-card-list-3-2">Predictive modeling for future trends</li>
                    <li class="service-list-item" id="service-card-list-3-3">Performance optimization to enhance efficiency</li>
                    <li class="service-list-item" id="service-card-list-3-4">Integration support for seamless implementation</li>
                    <li class="service-list-item" id="service-card-list-3-5">Continuous improvement for evolving needs</li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>
        </div>

        <div class="modular-container-services-one">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-4">Automating your Business Process</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-4">Individual Pricing</h2>
                <br>
                <p class="service-card-text" id="service-card-text-4">Streamline and automate your business processes for increased efficiency
                    and
                    productivity. From data entry to task automation, let technology work for you.
                </p>
                <br>
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-4-1">Workflow Analysis</li>
                    <li class="service-list-item" id="service-card-list-4-2">Custom Automation Solutions</li>
                    <li class="service-list-item" id="service-card-list-4-3">Integration with Existing Systems</li>
                    <li class="service-list-item" id="service-card-list-4-4">User Training and Support</li>
                    <li class="service-list-item" id="service-card-list-4-5">Scalable Automation Strategies</li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>
        </div>
        <div class="modular-container-buffer" style="width: 7%;"></div>
    </div>
</div>

<div class="container">
    <div class="modular-container-wrapper">
        <div class="modular-container-buffer" style="width: 7%;"></div>

        <div class="modular-container-services-one">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-5">You have a Project Idea?</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-5">Individual Pricing</h2>
                <br>
                <p class="service-card-text" id="service-card-text-5">Bring your project idea to life with personalized solutions and flexible
                    pricing options.
                </p>
                <br>
                <!-- please create a list with 5 bullet points-->
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-5-1">Consultation and idea refinement</li>
                    <li class="service-list-item" id="service-card-list-5-2">Customized project development plan</li>
                    <li class="service-list-item" id="service-card-list-5-3">Regular updates and project milestones</li>
                    <li class="service-list-item" id="service-card-list-5-4">Collaborative and transparent communication</li>
                    <li class="service-list-item" id="service-card-list-5-5">Post-launch support and maintenance</li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>
        </div>

        <div class="modular-container-services-two">
            <div style="margin: 10px;">
                <br>
                <h5 class="service-card-type" id="service-card-type-6">Your Personal Website</h5>
                <br>
                <h2 class="service-card-header" id="service-card-header-6">Starting at CHF 3,000</h2>
                <br>
                <p class="service-card-text" id="service-card-text-6">Transform your online presence with a personalized website tailored to your
                    needs and preferences.
                </p>
                <br>
                <!-- please create a list with 5 bullet points-->
                <ul class="service-list">
                    <li class="service-list-item" id="service-card-list-6-1">Custom website design and development</li>
                    <li class="service-list-item" id="service-card-list-6-2">Responsive and user-friendly interface</li>
                    <li class="service-list-item" id="service-card-list-6-3">Integration of essential features and functionalities</li>
                    <li class="service-list-item" id="service-card-list-6-4">Optimization for search engines (SEO)</li>
                    <li class="service-list-item" id="service-card-list-6-5">Training and support for managing your website</li>
                </ul>
                <br>
                <a aria-label="Secure your package now!" href="/contact" class="secure-package-link">Secure your package
                    now!</a>
            </div>

        </div>
        <div class="modular-container-buffer" style="width: 7%;"></div>
    </div>
</div>

<div class="section"></div>

<div class="container">
    {% include 'global-templates/pre-footer.html' %}
</div>
<div class="section"></div>
<div class="container">
    <!-- reference footer.html -->
    {% include 'global-templates/footer.html' %}
</div>
</body>
</html>

